In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('/var/rdemo/03088-0002-Data.csv')

In [37]:
df.head()

,CASEID,FACID,Q1,Q2A,Q2B,Q2C,Q2D,Q3A,Q3B,Q3C,...,F2FWA75,F2FWA76,F2FWA77,F2FWA78,F2FWA0,TFACRAKE,QFSTRAT,STUDYIND,FIELDPSU,OWN
1,7615,615,120.0,NO,NO,NO,YES,NaN,NaN,NaN,...,6.2063,5.4880,5.8441,5.7966,5.8397,1.0,STRATUM 5 OP NON-METH - NOT IN STRATUM,INCENTIVE STUDY FACILITY,303,PRIVATE NONPROFIT
2,7627,627,647.0,NO,NO,YES,YES,NaN,NaN,344.0,...,4.5144,4.1875,4.3099,4.2240,4.1637,1.0,STRATUM 5 OP NON-METH - NOT IN STRATUM,INCENTIVE STUDY FACILITY,401,PRIVATE NONPROFIT
3,8715,1715,26.0,NO,NO,NO,YES,NaN,NaN,NaN,...,151.8667,0.0000,155.2704,152.5660,149.9912,1.0,STRATUM 5 OP NON-METH - NOT IN STRATUM,INCENTIVE STUDY FACILITY,408,PUBLIC
4,8379,1379,103.0,NO,NO,NO,YES,NaN,NaN,NaN,...,6.6068,5.8422,6.2213,6.1707,6.2166,1.0,STRATUM 5 OP NON-METH - NOT IN STRATUM,MAIN STUDY FACILITY,303,PRIVATE NONPROFIT
5,7806,806,57.0,NO,NO,NO,YES,NaN,NaN,NaN,...,33.1814,34.6534,34.1302,35.5355,35.0641,1.0,STRATUM 5 OP NON-METH - NOT IN STRATUM,MAIN STUDY FACILITY,303,PRIVATE NONPROFIT

In [38]:
df.Q3A.describe()

count    13.000000
mean     17.538462
std      11.948608
min       2.000000
25%       6.000000
50%      18.000000
75%      25.000000
max      40.000000
Name: Q3A, dtype: float64

In [39]:
df['Q3A'].head()

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: Q3A, dtype: float64

In [40]:
## subset 2 columns
df[['Q2A','Q2B' ]]

     Q2A  Q2B
1     NO   NO
2     NO   NO
3     NO   NO
4     NO   NO
5     NO   NO
6     NO   NO
7     NO  YES
8     NO   NO
9     NO  YES
10    NO   NO
11   YES  YES
12    NO   NO
13    NO   NO
14    NO  YES
15    NO   NO
16    NO   NO
17    NO  YES
18    NO   NO
19    NO  YES
20    NO   NO
21    NO   NO
22    NO  YES
23    NO   NO
24    NO   NO
25    NO   NO
26    NO   NO
27    NO   NO
28    NO   NO
29   YES   NO
30    NO   NO
..   ...  ...
251   NO  YES
252   NO  YES
253   NO  YES
254   NO   NO
255   NO   NO
256   NO   NO
257   NO  YES
258   NO  YES
259   NO   NO
260   NO  YES
261   NO  YES
262   NO  YES
263   NO   NO
264   NO   NO
265   NO  YES
266   NO   NO
267   NO  YES
268   NO   NO
269   NO  YES
270   NO   NO
271   NO  YES
272   NO  YES
273   NO   NO
274   NO  YES
275   NO  YES
276   NO   NO
277   NO  YES
278   NO   NO
279   NO  YES
280   NO   NO

[280 rows x 2 columns]

In [50]:
##find a row
df.loc[22]

CASEID                              8491
FACID                               1491
Q1                                    22
Q2A                                   NO
Q2B                                  YES
Q2C                                   NO
Q2D                                  YES
Q3A                                  NaN
Q3B                                   11
Q3C                                  NaN
Q3D                                   11
Q3TOT                                 22
Q4A                  YES (COPY OBTAINED)
Q4B                  YES (COPY OBTAINED)
Q4C                  YES (COPY OBTAINED)
Q4D                  YES (COPY OBTAINED)
Q4E         NOT APPLICABLE (DO NOT HAVE)
Q4F                  YES (COPY OBTAINED)
Q4G                  YES (COPY OBTAINED)
Q4H                  YES (COPY OBTAINED)
Q4I                  YES (COPY OBTAINED)
Q4J                  YES (COPY OBTAINED)
Q4K                  YES (COPY OBTAINED)
BOXA                         BOX CHECKED
BOXB                     BOX NOT CHECKED
BOXC                         BOX CHECKED
BOXD                     BOX NOT CHECKED
Q5A                                  NaN
Q5B                                  NaN
Q5C                                  NaN
                        ...
F2FWA55                          210.875
F2FWA56                          212.851
F2FWA57                          208.873
F2FWA58                          211.467
F2FWA59                           218.17
F2FWA60                          208.905
F2FWA61                          204.067
F2FWA62                          212.034
F2FWA63                          202.871
F2FWA64                          208.522
F2FWA65                          210.736
F2FWA66                          250.246
F2FWA67                          208.905
F2FWA68                          216.631
F2FWA69                          261.474
F2FWA70                          210.335
F2FWA71                          243.906
F2FWA72                          229.164
F2FWA73                          212.158
F2FWA74                          237.856
F2FWA75                          210.389
F2FWA76                          198.516
F2FWA77                          206.647
F2FWA78                          211.692
F2FWA0                           208.316
TFACRAKE                               1
QFSTRAT            STRATUM 6 COMBINATION
STUDYIND             MAIN STUDY FACILITY
FIELDPSU                             204
OWN                    PRIVATE NONPROFIT
Name: 22, Length: 545, dtype: object

In [58]:
df.shape[1], df.shape[0]

(545, 280)